<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyExtensions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <InvAddIn.Properties.Settings>
            <setting name="SettingsButtonInternalName" serializeAs="String">
                <value>MyExtensionsServer.Settings_</value>
            </setting>
            <setting name="AppSettingsChangesSavedMsg" serializeAs="String">
                <value>Application Configuration changes have been saved.</value>
            </setting>
            <setting name="AppSettingsConfigurationCaption" serializeAs="String">
                <value>Application Configuration</value>
            </setting>
            <setting name="AppSettingsDefaultsRestoredMsg" serializeAs="String">
                <value>Application Configuration has been restored to default.</value>
            </setting>
            <setting name="AppSettingsFailedToLoadMsg" serializeAs="String">
                <value>Failed to load the configuration file. Reason(</value>
            </setting>
            <setting name="AppSettingsFailedToSaveMsg" serializeAs="String">
                <value>Failed to btnSave configuration. Reason(</value>
            </setting>
            <setting name="AppSettingsRestoreDefaultsMsg" serializeAs="String">
                <value>Restore Application Configuration to default?</value>
            </setting>
            <setting name="AppSettingsSaveChangesMsg" serializeAs="String">
                <value>Save Application Configuration changes before closing?</value>
            </setting>
        </InvAddIn.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
